<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/estilo.css" />
    <title>BARAJA</title>
</head>
<body>
    <div id="content"><h2>Contenido de mi página del juego de BARAJA </h2>
        <div class="renglon">
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
        </div>
    
    
        <div class="renglon">
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                  <img src="{{ carta }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p align="center"><a href="game_on" ><button class=grey style="height:45px;width:100px">Jugar!</button></a></p>
    </div>
    <div id="footer">
        &copy; Copyright 2021 por <a href="http://midominio.com/">mi</a>
    </div>
</body>
</html>